# hw14

数据集 ex14.csv 是关于中国各个省份的三项指标数值。请根据这些指标数值，将各个省份分为3类，并尝试归纳出各个类别的特点

In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv('../../Downloads/ex14.csv', encoding='gbk')

In [4]:
df.head()

  Unnamed: 0  DXBZ   CZBZ   WMBZ
0         北京  9.30  30.55   8.70
1         天津  4.67  29.38   8.92
2         河北  0.96  24.69  15.21
3         山西  1.38  29.24  11.30
4        内蒙古  1.48  25.47  15.39

In [7]:
model = KMeans(n_clusters = 3)
model.fit(df.iloc[:, 1:])

KMeans(n_clusters=3)

In [17]:
model.predict(df.iloc[:, 1:])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 2, 1, 0, 0, 0, 1], dtype=int32)

In [8]:
r1 = pd.Series(model.labels_).value_counts()
r1

1    23
0     6
2     1
dtype: int64

In [9]:
r2 = pd.DataFrame(model.cluster_centers_)
r2

          0          1          2
0  1.111667  17.225000  25.305000
1  2.106957  24.901304  13.470435
2  0.570000   3.850000  44.430000

In [16]:
r = pd.concat([r2, r1], axis = 1)
r.columns = list(df.columns[1:]) + ['类别数目']
r

       DXBZ       CZBZ       WMBZ  类别数目
0  1.111667  17.225000  25.305000     6
1  2.106957  24.901304  13.470435    23
2  0.570000   3.850000  44.430000     1