1. 若要反驳以下论断，请写出下列论断的零假设与备择假设

    （1） 百事可乐公司声称，其生产的罐装可乐的标准差为0.005磅
    （2） 某社会调查员说从某项调查得知中国的离婚率高达38.5%

     （3） 某学校招生宣传手册中写道，该学校的学生就业率高达99%。


2. 某学生随机抽取了10包一样的糖并称量它们的包装的重量，判断这些糖的包装的平均重量是否为3.5g。其中，这10包糖的重量如下（单位：g）：

3.2,3.3,3.0,3.7,3.5,4.0,3.2,4.1,2.9,3.3


3. 计算Amtrak.xls 数据集的均值、标准差、方差、最大值、最小值、25%分位数、75%分位数、偏度、峰度

# 1

    (1)零假设：罐装可口可乐的标准差为0.005磅
    备择假设：罐装可口可乐的标准差不为0.005磅
    （2）零假设：中国的离婚率为38.5%
    备择假设：中国的离婚率低于38.5%
    （3）零假设：该学校的学生就业率为99%
    备择假设：该学校的学生就业率低于99%

# 2

In [32]:
import pandas as pd
from scipy import stats as ss

tmp2=pd.Series([3.2,3.3,3.0,3.7,3.5,4.0,3.2,4.1,2.9,3.3])
ss.ttest_1samp(a=tmp2,popmean=3.5)

Ttest_1sampResult(statistic=-0.6289709020331551, pvalue=0.5449993647371575)

# 3

In [39]:
tmp3=pd.ExcelFile('../../Downloads/Amtrak.xls')

In [40]:
tmp4=tmp3.parse('Data')

In [44]:
del tmp4['Amtrak Ridership Number of Passengers ( in thousands)']

In [45]:
tmp4.head()

       Month  Ridership
0 1991-01-01   1708.917
1 1991-02-01   1620.586
2 1991-03-01   1972.715
3 1991-04-01   1811.665
4 1991-05-01   1974.964

In [46]:
tmp4.describe()

         Ridership
count   159.000000
mean   1822.197208
std     181.636034
min    1360.852000
25%    1698.564500
50%    1831.049000
75%    1966.957500
max    2223.349000

In [47]:
tmp4.var()

Ridership    32991.648743
dtype: float64

In [48]:
tmp4.skew()

Ridership   -0.196297
dtype: float64

In [49]:
tmp4.kurt()

Ridership   -0.3246
dtype: float64