## sparkmlhw01  词频统计
采用Datasets操作，实现WordCount实例，并且按照count值降序显示前50行数据，其中word转换成小写，去除标点符号，去除停用词，考查点：  
1）  spark读取文件  
2）  dataset转换操作、聚合操作  
重点在数据清洗，转成小写，去除标点、停用词等，这里需要自己自定义停用词集合 和 标点符号集合  
3）  dataset排序及显示

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [14]:
df1 = spark.read.csv("file:///Users/luoyonggui/PycharmProjects/mayiexamples/pyspark/data/wordcount", sep='|', header=False)
type(df1)

pyspark.sql.dataframe.DataFrame

In [15]:
df1.show(5)

+---+--------------------+
|_c0|                 _c1|
+---+--------------------+
|  1|The Apache Hadoop...|
|  2|Apache Spark is a...|
|  3|Apache Storm is a...|
|  4|Below is a high-l...|
+---+--------------------+

In [16]:
df1 = df1.withColumnRenamed('_c0','index').withColumnRenamed('_c1','content')

In [17]:
df1.dtypes

[('index', 'string'), ('content', 'string')]

In [18]:
df2 = df1.select('content')

In [19]:
df2.show(5)

+--------------------+
|             content|
+--------------------+
|The Apache Hadoop...|
|Apache Spark is a...|
|Apache Storm is a...|
|Below is a high-l...|
+--------------------+

In [20]:
df2.rdd.take(1)

[Row(content='The Apache Hadoop software library is a framework that allows for the distributed processing of large data sets across clusters of computers using simple programming models. It is designed to scale up from single servers to thousands of machines, each offering local computation and storage. Rather than rely on hardware to deliver high-availability, the library itself is designed to detect and handle failures at the application layer, so delivering a highly-available service on top of a cluster of computers, each of which may be prone to failures\ufeff.')]

In [21]:
rdd1 = df2.rdd.flatMap(lambda x:x.content.split())

In [22]:
rdd1.first()

'The'

In [23]:
rdd1.take(5)

['The', 'Apache', 'Hadoop', 'software', 'library']

In [24]:
rdd2 = rdd1.map(lambda x:x.lower())\
    .filter(lambda x: x not in list(",.:!';"))\
    .filter(lambda x: x not in ["the","of","a","to","that","it","for","is","and"])\
    .map(lambda x:(x,1))
rdd2.take(5)

[('apache', 1),
 ('hadoop', 1),
 ('software', 1),
 ('library', 1),
 ('framework', 1)]

In [25]:
# rdd3 = rdd2.reduceByKey(lambda a,b:a+b)
# rdd3.take(5)

In [26]:
from operator import add
rdd3 = rdd2.reduceByKey(add)
rdd3.take(5)

[('apache', 4),
 ('hadoop', 2),
 ('software', 1),
 ('library', 2),
 ('framework', 1)]

In [27]:
df3 = rdd3.toDF()
df3.show(5)

+---------+---+
|       _1| _2|
+---------+---+
|   apache|  4|
|   hadoop|  2|
| software|  1|
|  library|  2|
|framework|  1|
+---------+---+
only showing top 5 rows

In [28]:
df3.sort(df3['_2'].desc()).show()

+-----------+---+
|         _1| _2|
+-----------+---+
|     apache|  4|
|      storm|  3|
|      spark|  3|
|     hadoop|  2|
|    library|  2|
|distributed|  2|
|       data|  2|
|   designed|  2|
|computation|  2|
| processing|  2|
|    system.|  2|
|programming|  2|
|        sql|  2|
|       each|  2|
|         on|  2|
|    cluster|  2|
|         be|  2|
| high-level|  2|
|         in|  2|
|   supports|  2|
+-----------+---+
only showing top 20 rows