1. 读入  肝气郁结证型系数.xls  数据集，将数据集按照等距、小组等量 两种方式 分别分为5组数据，分别计算5组数据的中位数与标准差

2. 读入BHP1.csv，使用适当的方法填补缺失值

3. 读入BHP2.xlsx，与BHP1数据集合并为BHP数据集

4. 将BHP数据集中的成交量（volume）替换为 high、median、low 三种水平（区间自行定义）

In [1]:
data_dir = '../../Downloads/第6周作业数据/'

# 1

In [2]:
import pandas as pd

In [3]:
gq = pd.read_excel(data_dir + '肝气郁结证型系数.xls')

In [4]:
gq.head()

   肝气郁结证型系数
0     0.056
1     0.488
2     0.107
3     0.322
4     0.242

In [7]:
gq['Group_XZDJ']=pd.cut(gq['肝气郁结证型系数'],5,precision=2) #将值列按等距方式分为5组并赋值新列
gq['Group_XZDL']=pd.qcut(gq['肝气郁结证型系数'], 5, precision=2) #将值列按等距等量方式分为5组并赋值新列

In [8]:
gq.head()

   肝气郁结证型系数     Group_XZDJ     Group_XZDL
0     0.056  (0.026, 0.12]  (0.016, 0.17]
1     0.488    (0.41, 0.5]    (0.29, 0.5]
2     0.107  (0.026, 0.12]  (0.016, 0.17]
3     0.322   (0.31, 0.41]    (0.29, 0.5]
4     0.242   (0.22, 0.31]   (0.21, 0.25]

In [9]:
gq.Group_XZDJ.value_counts()

(0.22, 0.31]     395
(0.12, 0.22]     335
(0.31, 0.41]     100
(0.026, 0.12]     73
(0.41, 0.5]       27
Name: Group_XZDJ, dtype: int64

In [10]:
gq.Group_XZDL.value_counts()

(0.016, 0.17]    189
(0.25, 0.29]     187
(0.21, 0.25]     186
(0.29, 0.5]      185
(0.17, 0.21]     183
Name: Group_XZDL, dtype: int64

In [13]:
group_xzdl=gq['肝气郁结证型系数'].groupby(gq['Group_XZDJ'])   #将值列按等距分组列准备数据
group_xzdj=gq['肝气郁结证型系数'].groupby(gq['Group_XZDL'])   #将值列按等距等量分组列准备数据

In [14]:
group_xzdl.median()  #等距方式求中位数

Group_XZDJ
(0.026, 0.12]    0.099
(0.12, 0.22]     0.179
(0.22, 0.31]     0.262
(0.31, 0.41]     0.330
(0.41, 0.5]      0.429
Name: 肝气郁结证型系数, dtype: float64

In [15]:
group_xzdl.std()  #等距方式求标准差

Group_XZDJ
(0.026, 0.12]    0.024902
(0.12, 0.22]     0.025987
(0.22, 0.31]     0.026260
(0.31, 0.41]     0.025085
(0.41, 0.5]      0.026956
Name: 肝气郁结证型系数, dtype: float64

In [16]:
group_xzdj.median()  #等距等量求中位数

Group_XZDL
(0.016, 0.17]    0.134
(0.17, 0.21]     0.191
(0.21, 0.25]     0.231
(0.25, 0.29]     0.272
(0.29, 0.5]      0.325
Name: 肝气郁结证型系数, dtype: float64

In [17]:
group_xzdj.std()  #等距等量求标准差

Group_XZDL
(0.016, 0.17]    0.034750
(0.17, 0.21]     0.014029
(0.21, 0.25]     0.010834
(0.25, 0.29]     0.012661
(0.29, 0.5]      0.047936
Name: 肝气郁结证型系数, dtype: float64

# 2

In [23]:
from scipy.interpolate import lagrange #导入拉格朗日插值函数

In [19]:
df = pd.read_csv(data_dir + 'BHP1.csv')
df.head()

  name        date Unnamed: 2   Open   High    Low  Close  Unnamed: 7
0  BHP  11-02-2011             93.11  94.26  92.90  93.72         NaN
1  BHP  14-02-2011             94.57  96.23  94.39  95.64         NaN
2  BHP  15-02-2011             94.45  95.47  93.91  94.56         NaN
3  BHP  16-02-2011             92.67  93.58  92.56  93.30         NaN
4  BHP  17-02-2011             92.65  93.98  92.58  93.93         NaN

In [20]:
del df['Unnamed: 2'], df['Unnamed: 7']

In [22]:
df.shape

(13, 6)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
name     13 non-null object
date     13 non-null object
Open     12 non-null float64
High     13 non-null float64
Low      13 non-null float64
Close    13 non-null float64
dtypes: float64(4), object(2)
memory usage: 752.0+ bytes

In [25]:
def ployinterp_column(s, n, k=5):
  y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
  y = y[y.notnull()] #剔除空值
  return lagrange(y.index, list(y))(n) #插值并返回插值结果
 
#逐个元素判断是否需要插值
for i in df.columns:
  for j in range(len(df)):
    if (df[i].isnull())[j]: #如果为空即插值。
      df[i][j] = ployinterp_column(df[i], j)

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

# 3

In [27]:
BHP2 = pd.read_excel(data_dir + 'BHP2.xlsx')
BHP2.head()

  name        date Unnamed: 2   Open   High    Low  Close   volume
0  BHP  03-03-2011             95.90  96.11  95.18  96.02  3379400
1  BHP  04-03-2011             96.12  96.44  95.08  95.76  2463900
2  BHP  07-03-2011             96.51  96.66  94.03  94.47  3590900
3  BHP  08-03-2011             93.72  94.47  92.90  94.34  3805000
4  BHP  09-03-2011             92.94  93.13  91.86  92.22  3271700

In [28]:
del BHP2['Unnamed: 2']

In [30]:
BHP = BHP2.append(df)

In [31]:
BHP.head()

   Close   High    Low   Open        date name     volume
0  96.02  96.11  95.18  95.90  03-03-2011  BHP  3379400.0
1  95.76  96.44  95.08  96.12  04-03-2011  BHP  2463900.0
2  94.47  96.66  94.03  96.51  07-03-2011  BHP  3590900.0
3  94.34  94.47  92.90  93.72  08-03-2011  BHP  3805000.0
4  92.22  93.13  91.86  92.94  09-03-2011  BHP  3271700.0

# 4

In [32]:
volume = BHP['volume']
 
idx = 0
for i in volume:
    if i >= 3000000 and i < 4000000:
        BHP['volume'][idx] = "median"
    elif i >= 4000000 :
        BHP['volume'][idx] = "high"
    else: 
        BHP['volume'][idx] = "low "
    idx+=1

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
BHP

    Close   High    Low       Open        date name  volume
0   96.02  96.11  95.18  95.900000  03-03-2011  BHP  median
1   95.76  96.44  95.08  96.120000  04-03-2011  BHP    low
2   94.47  96.66  94.03  96.510000  07-03-2011  BHP  median
3   94.34  94.47  92.90  93.720000  08-03-2011  BHP  median
4   92.22  93.13  91.86  92.940000  09-03-2011  BHP  median
5   88.31  89.17  87.93  89.000000  10-03-2011  BHP    high
6   89.59  89.80  88.16  88.240000  11-03-2011  BHP    low
7   89.02  89.06  87.82  88.170000  14-03-2011  BHP  median
8   86.95  87.32  84.35  84.580000  15-03-2011  BHP    high
9   84.88  87.28  83.85  86.310000  16-03-2011  BHP    high
10  87.38  88.29  86.89  87.320000  17-03-2011  BHP  median
11  88.56  89.58  88.05  89.530000  18-03-2011  BHP  median
12  89.59  90.16  88.88  90.130000  21-03-2011  BHP  median
13  88.71  89.59  88.42  89.500000  22-03-2011  BHP  median
14  90.02  90.32  88.85  89.570000  23-03-2011  BHP    high
15  91.26  91.35  89.70  90.860000  24-03-2011  BHP  median
16  90.67  91.09  90.07  90.420000  25-03-2011  BHP  median
0   93.72  94.26  92.90  93.110000  11-02-2011  BHP  median
1   95.64  96.23  94.39  94.570000  14-02-2011  BHP    low
2   94.56  95.47  93.91  94.450000  15-02-2011  BHP  median
3   93.30  93.58  92.56  92.670000  16-02-2011  BHP  median
4   93.93  93.98  92.58  92.650000  17-02-2011  BHP  median
5   92.39  93.00  92.00  92.340000  18-02-2011  BHP    high
6   92.11  93.98  91.75  91.912976  22-02-2011  BHP    low
7   92.36  92.46  91.05  91.930000  23-02-2011  BHP  median
8   91.76  92.71  90.93  92.420000  24-02-2011  BHP    high
9   93.91  94.04  92.44  93.480000  25-02-2011  BHP    high
10  94.60  95.11  94.10  94.810000  28-02-2011  BHP  median
11  93.27  95.20  93.13  95.050000  01-03-2011  BHP  median
12  94.43  94.89  93.54  93.890000  02-03-2011  BHP  median