# 准备数据

In [1]:
import sys
sys.path.append('/Users/luoyonggui/PycharmProjects/mayiutils_n1/mayiutils/finance')
from stock_wrapper import daily

In [2]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import tushare as ts

In [3]:
df = daily('000001.SH', start_date='20010101', end_date=datetime.now().strftime('%Y%m%d'))

20010101 20061231
20070101 20121231
20130101 20190813

In [10]:
df.head()

,ts_code,close,open,high,low,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2001-01-02,000001.SH,2103.469,2077.076,2103.538,2074.882,2073.477,29.992,1.4465,18650746.0,1.340509e+07
2001-01-03,000001.SH,2123.899,2108.254,2123.900,2105.497,2103.469,20.430,0.9713,17157673.0,1.751683e+07
2001-01-04,000001.SH,2117.405,2125.485,2127.419,2113.179,2123.899,-6.494,-0.3058,13423541.0,1.429525e+07
2001-01-05,000001.SH,2125.300,2117.664,2125.381,2114.056,2117.405,7.895,0.3729,13288175.0,1.484424e+07
2001-01-08,000001.SH,2102.064,2128.602,2131.980,2092.097,2125.300,-23.236,-1.0933,14787085.0,1.588766e+07

In [47]:
df_dfhk = daily('600115.SH', start_date='20010101', end_date=datetime.now().strftime('%Y%m%d'), mode='stock')
df_dfhk.head()

20010101 20061231
20070101 20121231
20130101 20190811

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
trade_date,,,,,,,,,,
2001-01-02,600115.SH,5.60,5.70,5.60,5.69,5.60,0.09,1.61,14808.76,8368.321
2001-01-03,600115.SH,5.70,5.73,5.65,5.69,5.69,0.00,0.00,15642.39,8896.981
2001-01-04,600115.SH,5.69,5.70,5.65,5.69,5.69,0.00,0.00,17148.66,9738.521
2001-01-05,600115.SH,5.69,5.78,5.65,5.74,5.69,0.05,0.88,24655.30,14105.074
2001-01-08,600115.SH,5.74,5.74,5.51,5.69,5.74,-0.05,-0.87,19110.72,10843.115

In [43]:
def df2dicts(df):
    """
    df to dicts list
    """
    dicts = []
    for line in df.itertuples():
        ll = list(df.columns)
        dicts.append(dict(zip(ll, list(line)[1:])))
    return dicts

In [50]:
def df2dicts_stock(df):
    """
    df to dicts list
    """
    dicts = []
    for line in df.itertuples():
        ll = ['trade_date'] + list(df.columns)
        dicts.append(dict(zip(ll, [f'{line[0].date()}']+list(line)[1:])))
    return dicts

In [28]:
dicts = []
for line in df.itertuples():
    ll = ['trade_date'] + list(df.columns)
    dicts.append(dict(zip(ll, [f'{line[0].date()}']+list(line)[1:])))

In [30]:
dicts[:2]

[{'trade_date': '2001-01-02',
  'ts_code': '000001.SH',
  'close': 2103.469,
  'open': 2077.076,
  'high': 2103.538,
  'low': 2074.882,
  'pre_close': 2073.477,
  'change': 29.992,
  'pct_chg': 1.4465,
  'vol': 18650746.0,
  'amount': 13405094.725},
 {'trade_date': '2001-01-03',
  'ts_code': '000001.SH',
  'close': 2123.899,
  'open': 2108.254,
  'high': 2123.9,
  'low': 2105.497,
  'pre_close': 2103.469,
  'change': 20.43,
  'pct_chg': 0.9713,
  'vol': 17157673.0,
  'amount': 17516832.575}]

# pymongo ops

## 原生pymongo

https://www.runoob.com/python3/python-mongodb.html

https://api.mongodb.com/python/current/tutorial.html

https://docs.mongodb.com/manual/indexes/

https://www.jianshu.com/p/a4d1a362daae

In [14]:
!mongo db.serverStatus().connections

/bin/sh: -c: line 0: syntax error near unexpected token `('
/bin/sh: -c: line 0: `mongo db.serverStatus().connections'

In [1]:
!pip freeze | grep pymongo

pymongo==3.8.0

In [1]:
from pymongo import MongoClient

### 连接mongodb

In [12]:
client = MongoClient('localhost', 27017)

In [13]:
client.max_pool_size

100

In [ ]:
client.

In [6]:
type(client)

pymongo.mongo_client.MongoClient

In [11]:
# Cleanup client resources and disconnect from MongoDB.
client.close()

### 获取db

In [7]:
db = client['finance']

In [9]:
#db.list_collection_names()

### 获取table

In [10]:
table = db['test']  # 此时如果表不存在，并不会创建表

### Indexing 创建唯一索引  
https://api.mongodb.com/python/current/tutorial.html#indexing

Adding indexes can help accelerate certain queries and can also add additional functionality to querying and storing documents. In this example, we’ll demonstrate how to create a unique index on a key that rejects documents whose value for that key already exists in the index.

In [16]:
# deprecated
table.ensure_index('a', unique=True)

/Users/luoyonggui/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: ensure_index is deprecated. Use create_index instead.

'a_1'

In [17]:
table.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'finance.test'},
 'a_1': {'v': 2, 'unique': True, 'key': [('a', 1)], 'ns': 'finance.test'}}

#### Creates an index on this collection.

In [18]:
# To create a single key ascending index on the key
table.create_index('b')

'b_1'

In [19]:
table.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'finance.test'},
 'a_1': {'v': 2, 'unique': True, 'key': [('a', 1)], 'ns': 'finance.test'},
 'b_1': {'v': 2, 'key': [('b', 1)], 'ns': 'finance.test'}}

In [21]:
# compound index 复合索引
table.create_index([("mike", pymongo.DESCENDING), ("eliot", pymongo.ASCENDING)])

'mike_-1_eliot_1'

In [22]:
table.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'finance.test'},
 'a_1': {'v': 2, 'unique': True, 'key': [('a', 1)], 'ns': 'finance.test'},
 'b_1': {'v': 2, 'key': [('b', 1)], 'ns': 'finance.test'},
 'mike_-1_eliot_1': {'v': 2,
  'key': [('mike', -1), ('eliot', 1)],
  'ns': 'finance.test'}}

In [23]:
# 唯一索引
table.create_index([('user_id', pymongo.ASCENDING)], unique=True)

'user_id_1'

In [24]:
table.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'finance.test'},
 'a_1': {'v': 2, 'unique': True, 'key': [('a', 1)], 'ns': 'finance.test'},
 'b_1': {'v': 2, 'key': [('b', 1)], 'ns': 'finance.test'},
 'mike_-1_eliot_1': {'v': 2,
  'key': [('mike', -1), ('eliot', 1)],
  'ns': 'finance.test'},
 'user_id_1': {'v': 2,
  'unique': True,
  'key': [('user_id', 1)],
  'ns': 'finance.test'}}

In [25]:
# 唯一索引 的简写形式
table.create_index('hh', unique=True)

'hh_1'

In [26]:
table.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'finance.test'},
 'a_1': {'v': 2, 'unique': True, 'key': [('a', 1)], 'ns': 'finance.test'},
 'b_1': {'v': 2, 'key': [('b', 1)], 'ns': 'finance.test'},
 'mike_-1_eliot_1': {'v': 2,
  'key': [('mike', -1), ('eliot', 1)],
  'ns': 'finance.test'},
 'user_id_1': {'v': 2,
  'unique': True,
  'key': [('user_id', 1)],
  'ns': 'finance.test'},
 'hh_1': {'v': 2, 'unique': True, 'key': [('hh', 1)], 'ns': 'finance.test'}}

In [30]:
# 唯一索引 的简写形式
table.create_index([('yy', pymongo.ASCENDING), ('mm', pymongo.ASCENDING)], unique=True)

'yy_1_mm_1'

In [31]:
table.index_information()

{'_id_': {'v': 2, 'key': [('_id', 1)], 'ns': 'finance.test'},
 'a_1': {'v': 2, 'unique': True, 'key': [('a', 1)], 'ns': 'finance.test'},
 'b_1': {'v': 2, 'key': [('b', 1)], 'ns': 'finance.test'},
 'mike_-1_eliot_1': {'v': 2,
  'key': [('mike', -1), ('eliot', 1)],
  'ns': 'finance.test'},
 'user_id_1': {'v': 2,
  'unique': True,
  'key': [('user_id', 1)],
  'ns': 'finance.test'},
 'hh_1': {'v': 2, 'unique': True, 'key': [('hh', 1)], 'ns': 'finance.test'},
 'yy_1_mm_1': {'v': 2,
  'unique': True,
  'key': [('yy', 1), ('mm', 1)],
  'ns': 'finance.test'}}

### 删除表

In [32]:
db.drop_collection(table)

{'ns': 'finance.test', 'nIndexesWas': 7, 'ok': 1.0}

## PyMongoWrapper

In [36]:
import sys
sys.path.append('/Users/luoyonggui/PycharmProjects/mayiutils_n1/mayiutils/db')

from pymongo_wrapper import PyMongoWrapper
import pandas as pd

In [37]:
mongo = PyMongoWrapper()

In [42]:
db = mongo.getDb('finance')

## 列出数据库下所有表名

In [43]:
db.list_collection_names()

['600029.SH',
 '600115.SH',
 '601318.SH',
 '000001.SZ',
 '600036.SH',
 'stock_basic',
 '601939.SH']

In [13]:


table = mongo.getCollection('finance', '000001.SH')

mongo.setUniqueIndex('finance', '000001.SH', 'trade_date')

table.insert_many(dicts)

In [48]:
table = mongo.getCollection('finance', '600115.SH')

In [49]:
mongo.setUniqueIndex('finance', '600115.SH', 'trade_date')

True

In [51]:
table.insert_many(df2dicts_stock(df_dfhk))

In [32]:
table = mongo.getCollection('finance', 'stock_basic')

In [33]:
mongo.setUniqueIndex('finance', 'stock_basic', 'ts_code')

True

In [34]:
TS_TOKEN = '5fd1639100f8a22b7f86e882e03192009faa72bae1ae93803e1172d5'
pro = ts.pro_api(TS_TOKEN)

In [39]:
data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,market,is_hs,list_date')

In [ ]:
名称	类型	描述
ts_code	str	TS代码
symbol	str	股票代码
name	str	股票名称
area	str	所在地域
industry	str	所属行业
fullname	str	股票全称
enname	str	英文全称
market	str	市场类型 （主板/中小板/创业板）
exchange	str	交易所代码
curr_type	str	交易货币
list_status	str	上市状态： L上市 D退市 P暂停上市
list_date	str	上市日期
delist_date	str	退市日期
is_hs	str	是否沪深港通标的，N否 H沪股通 S深股通

In [41]:
data.head()

     ts_code  symbol  name area industry market list_date is_hs
0  000001.SZ  000001  平安银行   深圳       银行     主板  19910403     S
1  000002.SZ  000002   万科A   深圳     全国地产     主板  19910129     S
2  000004.SZ  000004  国农科技   深圳     生物制药     主板  19910114     N
3  000005.SZ  000005  世纪星源   深圳     环境保护     主板  19901210     N
4  000006.SZ  000006  深振业A   深圳     区域地产     主板  19920427     S

In [44]:
table.insert_many(df2dicts(data))

## 查询数据

In [4]:
from datetime import datetime

In [29]:
mongo = PyMongoWrapper()

table = mongo.getCollection('finance', 'stock_basic')

In [30]:
r = list(mongo.findAll(table))

In [31]:
df = pd.DataFrame(r)
df.head()

,_id,area,industry,is_hs,list_date,market,name,symbol,ts_code
0,5d502a3f870cc9ddd54f6861,深圳,银行,S,19910403,主板,平安银行,000001,000001.SZ
1,5d502a3f870cc9ddd54f6862,深圳,全国地产,S,19910129,主板,万科A,000002,000002.SZ
2,5d502a3f870cc9ddd54f6863,深圳,生物制药,N,19910114,主板,国农科技,000004,000004.SZ
3,5d502a3f870cc9ddd54f6864,深圳,环境保护,N,19901210,主板,世纪星源,000005,000005.SZ
4,5d502a3f870cc9ddd54f6865,深圳,区域地产,S,19920427,主板,深振业A,000006,000006.SZ

In [32]:
df.shape

(3664, 9)

In [33]:
df.name.nunique()

3664

stock名称没有重复

In [38]:
s = pd.Series(df.ts_code.values, index=df.name.values)

In [39]:
s[:5]

平安银行    000001.SZ
万科A     000002.SZ
国农科技    000004.SZ
世纪星源    000005.SZ
深振业A    000006.SZ
dtype: object

In [40]:
s.to_pickle('stock_dict.pkl')

In [2]:
mongo = PyMongoWrapper()

table = mongo.getCollection('finance', '000001.SZ')

### 查询日期类型

In [28]:
for i in mongo.findAll(table, {'$and': [{'trade_date':{'$lte': datetime(2001, 1, 5)}}, {'trade_date':{'$gt': datetime(2001, 1, 2)}}]}):
    print(i)

{'_id': ObjectId('5d511c2a050124cda9a64b03'), 'trade_date': datetime.datetime(2001, 1, 3, 0, 0), 'ts_code': '000001.SZ', 'open': 14.56, 'high': 14.61, 'low': 14.37, 'close': 14.44, 'pre_close': 14.55, 'change': -0.11, 'pct_chg': -0.76, 'vol': 54294.2, 'amount': 78304.3035}
{'_id': ObjectId('5d511c2a050124cda9a64b04'), 'trade_date': datetime.datetime(2001, 1, 4, 0, 0), 'ts_code': '000001.SZ', 'open': 14.45, 'high': 14.5, 'low': 14.3, 'close': 14.35, 'pre_close': 14.44, 'change': -0.09, 'pct_chg': -0.62, 'vol': 48404.44, 'amount': 69573.3568}
{'_id': ObjectId('5d511c2a050124cda9a64b05'), 'trade_date': datetime.datetime(2001, 1, 5, 0, 0), 'ts_code': '000001.SZ', 'open': 14.33, 'high': 14.33, 'low': 14.12, 'close': 14.2, 'pre_close': 14.35, 'change': -0.15, 'pct_chg': -1.05, 'vol': 66419.01, 'amount': 94154.8127}

In [26]:
for i in mongo.findAll(table, {'trade_date': {'$lte': datetime(2001, 1, 5)}}):
    print(i)

{'_id': ObjectId('5d511c2a050124cda9a64b02'), 'trade_date': datetime.datetime(2001, 1, 2, 0, 0), 'ts_code': '000001.SZ', 'open': 14.54, 'high': 14.7, 'low': 14.4, 'close': 14.55, 'pre_close': 14.52, 'change': 0.03, 'pct_chg': 0.21, 'vol': 34122.68, 'amount': 49505.252}
{'_id': ObjectId('5d511c2a050124cda9a64b03'), 'trade_date': datetime.datetime(2001, 1, 3, 0, 0), 'ts_code': '000001.SZ', 'open': 14.56, 'high': 14.61, 'low': 14.37, 'close': 14.44, 'pre_close': 14.55, 'change': -0.11, 'pct_chg': -0.76, 'vol': 54294.2, 'amount': 78304.3035}
{'_id': ObjectId('5d511c2a050124cda9a64b04'), 'trade_date': datetime.datetime(2001, 1, 4, 0, 0), 'ts_code': '000001.SZ', 'open': 14.45, 'high': 14.5, 'low': 14.3, 'close': 14.35, 'pre_close': 14.44, 'change': -0.09, 'pct_chg': -0.62, 'vol': 48404.44, 'amount': 69573.3568}
{'_id': ObjectId('5d511c2a050124cda9a64b05'), 'trade_date': datetime.datetime(2001, 1, 5, 0, 0), 'ts_code': '000001.SZ', 'open': 14.33, 'high': 14.33, 'low': 14.12, 'close': 14.2, 'pre_close': 14.35, 'change': -0.15, 'pct_chg': -1.05, 'vol': 66419.01, 'amount': 94154.8127}

### 排序

In [51]:
import pymongo

In [52]:
pymongo.DESCENDING

-1

In [55]:
r = table.find({}).sort([('change',-1)]).limit(1)

In [56]:
a = list(r)

In [57]:
a[:5]

[{'_id': ObjectId('5d511c2a050124cda9a6511f'),
  'trade_date': datetime.datetime(2007, 10, 26, 0, 0),
  'ts_code': '000001.SZ',
  'open': 41.7,
  'high': 45.13,
  'low': 41.59,
  'close': 44.58,
  'pre_close': 41.13,
  'change': 3.45,
  'pct_chg': 8.39,
  'vol': 347517.91,
  'amount': 1509456.598}]

### 获取最大值

In [3]:
list(mongo.findAll(table, fieldlist=['trade_date'], sort=[('trade_date', -1)], limit=1))

[{'trade_date': datetime.datetime(2019, 8, 12, 0, 0)}]

In [ ]:
if __name__ == '__main__':
    
    mode = 2
    if mode == 2:
        """
        存储专科医院表
        """
        pmw = PyMongoWrapper('h1')
        table = pmw.getCollection('intelligent-guidance', 'specialhosdeptmapping')
        #专科医院和其对应的科室
        dict1 = {'东方肝胆外科医院(杨浦院区)': '肝病科、肝胆外科',
         '儿科医院': '儿科',
         '儿童医学中心': '儿科',
         '儿童医院(北京西路院区)': '儿科',
         '龙华医院': '中医科',
         '儿童医院(泸定路院区)': '儿科',
         '上海市中医医院': '中医科',
         '上海市中医医院(石门路门诊部)': '中医科',
         '同济口腔医院': '口腔科',
         '皮肤病医院(武夷路院区)': '皮肤性病科',
         '眼病防治中心': '眼科',
         '口腔病防治院(分院)': '眼科',
         '胸科医院': '心胸外科',
         '皮肤病医院(保德路院区)': '皮肤性病科',
         '精神卫生中心': '精神心理科、精神科、心理咨询科',
         '口腔病防治院(总院)': '口腔科',
         '曙光医院(西院)': '中医科',
         '曙光医院(东院)': '中医科',
         '肿瘤医院': '肿瘤科',
         '岳阳中西医结合医院(青海路名医特诊部)': '中医科',
         '上海市第一妇婴保健院(东院)': '妇产科',
         '上海市第一妇婴保健院(西院)': '妇产科',
         '肺科医院': '呼吸内科',
         '肺科医院(徐汇区延庆路门诊部)': '呼吸内科',
         '妇产科医院(杨浦院区)': '妇产科',
         '妇产科医院(黄浦院区)': '妇产科',
         '岳阳中西医结合医院': '中西医结合科',
         '眼耳鼻喉科医院(含宝庆浦江)': '眼科、耳鼻喉科'}
        sqltemplate = """
            SELECT h.hospitalAdd as addr,
                h.hosOrgCode as hoscode,
                h.latLng as latlng,
                h.hospitalGrade as grade
            from kh_hospital h
            where h.hosName='{}'
            """
        list1 = ['addr', 'hoscode', 'latlng', 'grade']
        for k, v in dict1.items():
            mysql.execute(sqltemplate.format(k))
            data = mysql._cursor.fetchone()
            d = {'hosname': k, 'dept': v.split('、')}
            d.update(dict(zip(list1, data)))
            table.insert_one(d)

    if mode == 1:
        sqltemplate = """
            SELECT
                h.hosOrgCode AS hoscode,
                h.hospitalAdd AS addr,
                h.latLng as latLng,
                d.hosDeptCode AS deptcode,
                d.topHosDeptCode AS topdeptcode,
                d.deptType as type,
                d.hosName as yyname,
                d.deptName as ksname
            FROM
                kh_hospital h,
                kh_dept d
            WHERE h.hosOrgCode=d.hosOrgCode and  d.hosName = '{}'
                AND d.deptName = '{}'
            """

        pmw = PyMongoWrapper('h1')
        table = pmw.getCollection('intelligent-guidance', 'deptmapping')
        # for i in pmw.findAll(table, fieldlist=['简介']):
        #     print(' '.join(i['简介']))
        df = pd.read_excel('../../tmp/deptmapping.xlsx', '申康可预约科室')
        # print(df.head())
        # print(df.loc[:, '医院类型'].unique())#['专科医院' '专科医院 ' '中医医院' '综合医院' '综合医院 ']
        # print(df.loc[:, '专病'].unique())
        """
        ['肝病科、肝胆外科' '儿科' '中医科' nan '口腔科' '皮肤性病科' '眼科' '心胸外科' '精神心理科、精神科、心理咨询科'
     '肿瘤科' '妇产科' '呼吸内科' '呼吸内科、心胸外科' '皮肤科' '肝胆外科、肝病科' '中西医结合科' '眼科、耳鼻喉科']
        """
        dict1 = dict()
        for line in df[df.loc[:, '医院类型'].isin(['专科医院', '专科医院 ', '中医医院'])].itertuples():
            if line[1] not in dict1:
                dict1[line[1]] = line[7]
        # print(dict1)
        """
        {'东方肝胆外科医院(杨浦院区)': '肝病科、肝胆外科', 
        '儿科医院': '儿科', 
        '儿童医学中心': '儿科', 
        '儿童医院(北京西路院区)': '儿科', 
        '龙华医院': '中医科', 
        '儿童医院(泸定路院区)': '儿科', 
        '上海市中医医院': '中医科', 
        '上海市中医医院(石门路门诊部)': '中医科', 
        '同济口腔医院': '口腔科', 
        '皮肤病医院(武夷路院区)': '皮肤性病科', 
        '眼病防治中心': '眼科', 
        '口腔病防治院(分院)': '眼科', 
        '胸科医院': '心胸外科', 
        '皮肤病医院(保德路院区)': '皮肤性病科', 
        '精神卫生中心': '精神心理科、精神科、心理咨询科', 
        '口腔病防治院(总院)': '口腔科', 
        '曙光医院(西院)': '中医科', 
        '曙光医院(东院)': '中医科',
         '肿瘤医院': '肿瘤科', 
         '岳阳中西医结合医院(青海路名医特诊部)': '中医科', 
         '上海市第一妇婴保健院(东院)': '妇产科', 
         '上海市第一妇婴保健院(西院)': '妇产科', 
         '肺科医院': '呼吸内科', 
         '肺科医院(徐汇区延庆路门诊部)': '呼吸内科', 
         '妇产科医院(杨浦院区)': '妇产科', 
         '妇产科医院(黄浦院区)': '妇产科', 
         '岳阳中西医结合医院': '中西医结合科', 
         '眼耳鼻喉科医院(含宝庆浦江)': '眼科、耳鼻喉科'}
        """
        # print(df.loc[:, '备注'].unique())
        """
        [nan '0-14岁' '0-1岁' '女' '15岁及以上' '0-15岁' '0-16岁' '产褥期' '孕期' '注意' '不可约'
     '骨质疏松' '鼻炎' '哮喘' '呼吸道感染' '尿失禁' '糖尿病' '肾炎' '高血压' '糖尿病神经病变' '糖尿病肾病' '孕妇'
     '高血压高血脂' '糖尿病护理']
        """
        Item = namedtuple('Item', ['hosname', 'dept', 'aidept', 'age', 'gender', 'other'])
        list1 = ['hoscode', 'addr', 'latLng', 'deptcode', 'topdeptcode', 'type']
        for line in df[df.loc[:, '医院类型'].isin(['综合医院', '综合医院 '])].itertuples():
            if line[4] and str(line[4]).strip():
                if str(line[6]).strip() not in ['注意', '不可约', '骨质疏松', '鼻炎', '哮喘', '呼吸道感染', '尿失禁', '糖尿病', '肾炎', '高血压',
                                                '糖尿病神经病变', '糖尿病肾病', '高血压高血脂', '糖尿病护理']:
                    # print(line[1], line[2], line[4], line[6])
                    if str(line[6]).strip() in ['0-14岁', '0-15岁', '0-16岁']:
                        r = Item(line[1], line[2], line[4], [2, 3, 4], [0, 1], [0, 1, 2])
                    elif str(line[6]).strip() == '女':
                        r = Item(line[1], line[2], line[4], [1, 2, 3, 4, 5, 6, 7], [1], [0, 1, 2])
                    elif str(line[6]).strip() == '产褥期':
                        r = Item(line[1], line[2], line[4], [1, 2, 3, 4, 5, 6, 7], [0, 1], [2])
                    elif str(line[6]).strip() in ['孕期', '孕妇']:
                        r = Item(line[1], line[2], line[4], [2, 3, 4], [0, 1], [1])
                    else:
                        r = Item(line[1], line[2], line[4], [1, 2, 3, 4, 5, 6, 7], [0, 1], [0, 1, 2])
                    print(r)
                    # print(dict(zip(['hosname', 'dept', 'aidept', 'age', 'gender', 'other'], list(r))))
                    # table.insert_one(dict(zip(['hosname', 'dept', 'aidept', 'age', 'gender', 'other'], list(r))))
                    mysql.execute(sqltemplate.format(line[1], line[2]))
                    data = mysql._cursor.fetchone()
                    if data:
                        dict1 = dict(zip(list1, data))
                        print(dict1)
                        dict2 = dict(zip(['hosname', 'dept', 'aidept', 'age', 'gender', 'other'], list(r)))
                        print(dict2)
                        dict1.update(dict2)
                        table.insert_one(dict1)
                    print(data)
                    # break